/* @font-face {
    font-family: 'MADEOkine';
    src: url('./MADEOkine/MADEOkineSansPERSONALUSE-Regular.otf');
    src: local('MADEOkine');
}

@font-face {
    font-family: 'Roland';
    src: url('./Roland/Roland-Regular.ttf');
    src: local('Roland');
}

@font-face {
    font-family: 'Super-Groteska';
    src: url('./Super-Groteska/supergroteska-rg.ttf');
    src: local('Super-Groteska');
}

@font-face {
    font-family: 'Alkalami';
    src: url('./Alkalami-Regular.ttf');
    src: local('Alkalami');
} */